<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RETRY_DELAY" value="15"/>
    <add key="POLL_INTERVAL" value="120000"/>
    <add key="WAIT_INTERVAL_BEFORE_TERMINATE" value="60000"/>
    <add key="ServerConnectionTimeout" value="90000" />
    <add key="SubscribingClientId" value="1" />
    <add key="AllowedPTSCarrierIds" value="FedEx,USPS,OnTrac" />
    <add key="DisAllowedPTSSiteIds" value="23,30,31,32,33,Lasership" />
    <add key="URL_WEBAPI" value="http://webservices-t2.corp.drugstore.com/PackageTrackingService/v1/trackingsubscriptions/"/>
    <add key="SuborderShippedStateProcessorServiceReqResp_LogEnabled" value="1"/>
    <add key="SuborderShippedStateProcessorServiceReqResp_LogFilename" value="E:\Logroot\SuborderShippedStateProcessorService\SuborderShippedStateProcessorService_Request_Response_{0}.txt"/>
  </appSettings>
  <connectionStrings>
    <add name="ODS_DB" connectionString="Data Source=T2A1_10G.WORLD;User ID=svc_oms;Password=svc_oms1;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
